@media screen and (max-width: 8.5in){ 
body
{
overflow:scroll;
font-size:0.7em;
margin:5px;
}


div.content,div.titlediv,#HomePage>div,section{
width:100%;
margin:0px;
}

section
{
display:block!important;
position:relative!important;
margin-top:0px;
top:0px!important;
}

#HomePage,#PrintContactSection
{
display:none!important;
}

div.imageContainer,div.imageContainer>img
{
display:none;
}
nav
{
display:none;
}

#contentWrapper
{
margin-top:70px;
}


h1,h2,h3,a,a:hover,a:visited
{
font-size:16px;
margin-top:5px!important;
font-weight:bold;
clear:both;
}

.phoneOverlay {
width:264px!important;
}

#ExperienceHeader
{
display:block;
}

}