@media print {

body
{
background:#fff;
color:#000!important;
overflow:scroll;
font-size:0.7em;
}
div.titlediv
{
background:transparent;
}
div.imageContainer,div.imageContainer>img,nav
{
display:none;
}
section,div.titlediv 
{
display:block!important;
position:relative!important;
top:0px!important;
margin-top:0px!important;
}
#HomePage,#ContactSection
{
display:none!important;
}

h1,h2,h3,a,a:hover,a:visited
{
font-size:16px;
margin-top:5px!important;
color:#000!important;
font-weight:bold;
}

h2.JobTitle
{
font-size:12px;
}
h2.JobPlace
{
font-size:10px;
}

#PrintContactSection
{
display:block;
}
#PrintContactSection img
{
height:40px;
margin-top:-30px;
}

#ExperienceHeader
{
display:block;
}

#contentWrapper
{
margin-top:0px;
}

}
